#author {
    float: right;
    font-size: 18px;
    color: #808080;
    margin-top: 20px;
}

footer {
	float: right;
    font-size: 10px;
    color: #aea0a0;
    margin-top: 20px;
}

a {
	text-decoration: none;
}

.black-header {
	color: #000000; 
}
#subtitle {
	font-style: italic;
    color: #808080;
}

.float-right {
	float: right;
}

blockquote {
	font-style: italic;
}



