#author {
    float: right;
    font-size: 18px;
    color: #808080;
    margin-top: 20px;
}

footer {
	float: right;
    font-size: 10px;
    color: #aea0a0;
    margin-top: 20px;
}

a {
	text-decoration: none;
}

/* 
Styling of the logic.js
*/



