/* graph and grid */
body, html {
  margin: 0;
  height: 110%;
}
.badge, .label {
  font-weight: normal;
}

/* data table styles */
#grid { height: 240px; }
#grid .row, .header { clear: left; font-size: 11px; line-height: 24px; height: 24px; }
#grid .row:nth-child(odd) { background: rgba(0,0,0,0.05); }
#grid .header { font-weight: bold; }
#grid .cell { float: left; overflow: hidden; white-space: nowrap; width: 160px; height: 18px; }
#grid .col-0 { width: 120px; }

#pager {
  bottom: 306px;
  height: 20px;
  margin-top: 25px;
}

.slick-row:hover {
  font-weight: bold;
  color: #069;
}

