#slogan {
    float: right;
    font-size: 24px;
    color: #808080;
    margin-top: 20px;
}

/* 
Styling of the logic.js
*/

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

